.places {
  padding-top: 51px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: auto;
  gap: 20px 17px;
}

@media (max-width: 470px) {
  .places {
    padding: 36px 19px 0;
  }
}
