.profile {
  color: white;
  display: grid;
  grid-template-columns: 120px minmax(min-content, max-content) 1fr;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}

@media (max-width: 659px) {
  .profile {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 42px 19px 0;
  }
}
