.button_type_popup-close-image {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_icon.svg);
  background-color: transparent;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media (max-width: 659px) {
  .button_type_popup-close-image {
    right: 0;
  }
}

@media (max-width: 470px) {
  .button_type_popup-close-image {
    top: -36px;
    width: 20px;
    height: 20px;
  }
}
