.button_type_form-submit-place {
  border: 0;
  background-color: black;
  height: 50px;
  border-radius: 2px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  transition: 0.5s;
}

.button_type_form-submit-place:hover {
  opacity: 0.8;
}

@media (max-width: 470px) {
  .button_type_form-submit-place {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
