.button_type_profile-edit {
  background-color: black;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/pen_icon.svg);
}

@media (max-width: 470px) {
  .button_type_profile-edit {
    width: 18px;
    height: 18px;
  }
}
