.form__profile-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 48px 0 48px;
  margin: 0;
  border: 0;
}

@media (max-width: 470px) {
  .form__profile-info {
    padding: 75px 0 45px;
  }
}
