.popup-place__container {
  position: relative;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 430px;
}

@media (max-width: 659px) {
  .popup-place__container {
    width: auto;
    min-width: 282px;
  }
}
